<section class="choose-section">
    <div class="choose-block">
        <h2>Почему выбирают нас</h2>
        <img src="assets/images/why-choose-us-image.webp" alt="Изображение: почему выбирают нас">
    </div>
    <ul class="advantage-cards">
        <li class="fast-card">
            <img src="assets/images/alarm-image.webp" alt="Иконка: быстро">
            <h3>Быстро</h3>
            <p>Вакансия на сегодня, связь с работодателем за пару кликов.</p>  
        </li>
        <li class="comfortable-card">
            <img src="assets/images/armchair-image.webp" alt="Иконка: удобно">
            <h3>Удобно</h3>
            <p>Фильтры по зарплате, графику, срочности.</p>  
        </li>
        <li class="safely-card">
            <img src="assets/images/camera-image.webp" alt="Иконка: безопасно">
            <h3>Безопасно</h3>
            <p>Проверенные работодатели.</p>  
        </li>
        <li class="profitable-card">
            <img src="assets/images/moneybox-image.webp" alt="Иконка: выгодно">
            <h3>Выгодно</h3>
            <p>Без посредников, связь между работодателем и соискателем напрямую.</p>  
        </li>           
    </ul>
</section>
