<footer class="footer">
    <div class="footer-section">
        <div class="container footer-container">
            <div class="left-block">
                <h2>Подработай</h2>
            </div>
            <div class="right-block">
                <div class="first-row">
                    <h3><a href="#why-choose-us">Почему выбирают нас</a></h3>
                    <h3><a href="#for-finders">Для соискателей</a></h3>
                  </div>
                  <div class="second-row">
                    <h3><a href="#for-employers">Для работодателей</a></h3>
                    <h3><a href="#reviews">Отзывы</a></h3>
                    <h3><a href="#contacts">Контакты</a></h3>
                  </div>
            </div>
        </div>
    </div>
</footer>